
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #ea5b5b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
  }
  
  .calculadora{
    width: 250px;
    height: 360px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #ea5b5b; /* cor da calculadora */
    box-shadow: 5px 5px 15px 5px #ffffff50;
  }

 
  input{
    display: inline-block;
    width: 220px;
    height: 80px;
    flex-direction: flex-start;
    background-color: #ea5b5b;
    font-size: 40px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 5px 2px #ffffff50;
    margin: 0 0 5px 0;
  }

  input::placeholder{
    color: #ffffff;
}
  
  .calculadora-keys{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    margin: 2px;
  }
  
  button{
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid transparent; 
    margin: 2px;
    padding: 8px; 
    background-color: #ea5b5b;
    box-shadow: 1px 1px 5px 1px #ffffff50;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-apagar{
    color: #940ED5;
  }
  
  .btn-especial{
    color: #000;
  }
  
  button:rover{
   background-color: #EE9E9E;
  }
  

